ion-content{
    --ion-background-color:#F9F9F9;
}


components-tile.horizontal .tile{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

components-tile.low-padding .tile{
    padding: 15px;
}

ion-item[no-lines] .item-inner{
    border: none !important;
    box-shadow: none !important;
}