// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/
:root{
  --ion-padding: 10px;
}




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
@font-face {
  font-family: 'Overlock';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/Overlock-Regular.ttf');
}

@font-face {
  font-family: 'Overlock';
  font-style: normal;
  font-weight: bold;
  src: url('../assets/fonts/Overlock-Bold.ttf');
}

@font-face {
  font-family: 'Overlock';
  font-style: italic;
  font-weight: normal;
  src: url('../assets/fonts/Overlock-Italic.ttf');
}

@font-face {
  font-family: 'Overlock';
  font-style: normal;
  font-weight: bolder;
  src: url('../assets/fonts/Overlock-Black.ttf');
}

@font-face {
  font-family: 'Jaldi';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/Jaldi-Regular.ttf');
}

@font-face {
  font-family: 'Jaldi';
  font-style: normal;
  font-weight: bold;
  src: url('../assets/fonts/Jaldi-Bold.ttf');
}
body{
  background-color: #E5E5E5;
  font-family: 'Jaldi';
}

.content-ios{
  background-color: #F9F9F9 !important;
}

ion-button{
  /* Default Gradient */
  background: linear-gradient(90deg, #F9C58D 0%, #F492F0 100%);
  /* Anti Flash White */

  border: 2px solid #FDFFFC;
  box-sizing: border-box;
  /* Skeumorphism shadows */

  box-shadow: -2px -6px 7px rgba(248, 252, 255, 0.5), 2px 6px 7px rgba(0, 0, 0, 0.09);
  border-radius: 8px;

  padding: 5px 15px;

  font-family: 'Jaldi';
}

ion-button.secondary{
  background: #F9F9F9;
}

.centeredButtonContainer{
    display: flex;
    justify-content: center;
}

.centeredButtonContainer.mBottom{
  margin-bottom: 10px;
}