<ion-content padding>
  <components-header-tile
    [justTitle]="true"
    title="Nouvel Evenement"
    subtitle=""
  >
  </components-header-tile>
  <components-tile>
    <div class="form-group">
      <h2>Informations</h2>
      <ion-item no-padding no-lines>
        <ion-label>Nom de l'événement</ion-label>
        <ion-input type="text" [(ngModel)]="project.name" placeholder="Voyage en guadeloupe" no-lines></ion-input>
      </ion-item>
    </div>
  </components-tile>
  <components-new-payment-form-tile [projectId]="projectId" (onNewPayment)="refreshPaymentList($event)" *ngIf="displayNewEvent"></components-new-payment-form-tile> 
  <components-tile *ngFor="let payment of paymentsList" class="low-padding">
    <div>{{ payment.name }}</div>
    <h2>{{ payment.montant / 100.00 }} €</h2>
  </components-tile>
  <div class="centeredButtonContainer mBottom">
    <ion-button (click)="onGoToSplitClick()" centered>
      Passer au partage
    </ion-button>
  </div>
  <div class="centeredButtonContainer mBottom">
    <ion-button (click)="onSaveAndReturnClick()" centered class="secondary">
      Enregistrer et continuer plus tard
    </ion-button>
  </div>
</ion-content>
